
.bioparallax{
    height: 115%;
    width: 100%;
    position: absolute;
    background-image: url("https://codehs.com/uploads/c45aa2e90667e4e1acd9912c751016a1");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center top;
    background-attachment: fixed;
    padding-left: 46%;
    padding-top: 10%; 
    color: white;
}


.comingsoonparallax{
    height: 250%;
    width: 100%;
    position: absolute;
    background-image: url("https://codehs.com/uploads/213e2bb9b0ff8f75a64518c658760f50");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center top;
    background-attachment: fixed;
    padding-left: 46%;
    padding-top: 10%; 
    color: white;
}





footer{
    text-align:center;
    /*position: fixed;*/
    text-shadow: 0px 4px rgba(5, 5, 5, 0.3);
    box-shadow: 0px -4px 8px rgba(0, 0, 0, 1);
}


.parallax{
    background-attachment: scroll;
}
    
.parallax{
   height:100vh;
   background-image: url("https://codehs.com/uploads/0085dcf6ae3461c835765ae7f81a459f");
   background-size: cover;
   background-attachment:fixed;
   
}






















.indexparallax{
    min-height:300px;
    background-image: url("https://codehs.com/uploads/c45aa2e90667e4e1acd9912c751016a1");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    background-attachment: fixed;
    text-align: center;
    padding-top: 150px;
    color: white;

}





.imagebio {
    border: 5px solid rgba(21, 187, 71, 0.9)
}





.box{
    min-height: 100px;
    font-family: 'Kanit', sans-serif;
    line-height: 15px;
    margin-top:0px;
    text-align:center;
    background-color:rgb(185, 255, 145);
    border: 5px solid rgba(21, 187, 71, 0.9);
    /*height: 300px;*/
    
    width: 30%;
    color: white;
    height: 40%;
    position: absolute;
    margin-bottom: 20px;
    top: 40%;
    left: 20%;
    transform: translate(-50%, -50%);
    z-index: 10;

    margin: 0;
    font-weight: 400;
    font-size: 200%;

    /*opacity: .6;*/
}



.box2{
    min-height: 100px;
    font-family: 'Kanit', sans-serif;
    line-height: 15px;
    margin-top:0px;
    text-align:center;
    
    
    background-color:rgb(185, 255, 145);
    border: 5px solid rgba(21, 187, 71, 0.9);
    /*height: 300px;*/
    
    padding-top: 1%;
    width: 30%;
    color: white;
    height: 40%;
    position: absolute;
    margin-bottom: 20px;
    top: 40%;
    left: 80%;
    transform: translate(-50%, -50%);
    z-index: 10;

    margin: 0;
    font-weight: 400;
    font-size: 32px;
    line-height: 15px;


    /*opacity: .6;*/
}


.box3{
    min-height: 100px;
    font-family: 'Kanit', sans-serif;
    line-height: 15px;
    margin-top:0px;
    text-align:center;
    background-color:rgb(185, 255, 145);
    border: 5px solid rgba(21, 187, 71, 0.9);
    /*height: 300px;*/
    
    width: 30%;
    color: white;
    height: 40%;
    position: absolute;
    margin-bottom: 20px;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;

    margin: 0;
    font-weight: 400;
    font-size: 200%;
    line-height: 15px;




    /*opacity: .6;*/
}





.placement{
    Display: flex;
    Flex-direction: column;

    
    
}









:root {
  --background: rgba(19, 128, 12. /2);
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
font-family: 'Kanit', sans-serif;

}

header {
  background: var(--background);
  text-align: center;
  position: fixed;
  z-index: 999;
  width: 100%;
  padding: 30px;
}

.nav-toggle {
  display: none;
}

.nav-toggle-label {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 1em;
  height: 100%;
  display: flex;
  align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  display: block;
  background: white;
  height: 2px;
  width: 2em;
  border-radius: 2px;
  position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
  content: '';
  position: absolute;
}

.nav-toggle-label span::before {
  bottom: 7px;
}

.nav-toggle-label span::after {
  top: 7px;
}

nav {
  position: absolute;
  text-align: left;
  top: 100%;
  left: 0;
  background: var(--background);
  width: 100%;
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 400ms ease-in-out;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  margin-bottom: 1em;
  margin-left: 1em;
}

nav a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  text-transform: uppercase;
  opacity: 0;
  transition: opacity 150ms ease-in-out;
}

nav a:hover {
  color: #000;
}

.nav-toggle:checked ~ nav {
    transform: scale(1, 1);
}

.nav-toggle:checked ~ nav a {
  opacity: 1;
  transition: opacity 250ms ease-in-out 250ms;
}

@media screen and (min-width: 800px) {
  .nav-toggle-label {
    display: none;
  }
  
  header {
    display: grid;
    grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;
  }
  
  .logo {
    grid-column: 2 / 3;
    color: white;
  }
  
 
  
  
  
  nav {
    all: unset;
    grid-column: 3 / 4;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
  nav ul {
    display: flex;
    justify-content: flex-end;
  }
  
  nav li {
    margin-left: 3em;
    margin-bottom: 0;
  }
  
  nav a {
    opacity: 1;
    position: relative;
  }
  
  nav a::before {
    content: '';
    display: block;
    height: 5px;
    background: black;
    position: absolute;
    top: -0.75em;
    left: 0;
    right: 0;    
    transform: scale(0, 1);
    transform-origin: center;
    transition: transform ease-in-out 250ms;
  }
  
  nav a:hover::before {
    transform: scale(1, 1);
  }
}









.beam{
    min-height:550px;
    padding-top:50px;
    margin-top:0px;
    text-align:center;
    background-color:rgb(185, 255, 145);
    border: 5px solid rgba(21, 187, 71, 0.9);
    height:100px;

}

#beamplay{
    min-height:700px;
    padding-top:50px;
    margin-top:0px;
    text-align:center;
    background-color:rgb(185, 255, 145);
    border: 5px solid rgba(21, 187, 71, 0.9);
    height:500px;
    color: white;


}




.biofooter{
    text-align:center;
    clear: both;
    background-color:rgb(185, 255, 145);
    border: 5px solid rgba(21, 187, 71, 0.9);
    height: 15%;
    position:absolute;
    bottom:-30%;
    width:100%;

}



