ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #ffffff;
  }
  
  li {
	float: left;
  }
  
  li a {
	display: block;
	color: rgb(0, 0, 0);
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
  }
  
  li a:hover {
	background-color: #969292;
  }

ul img {
	width:5%;
	height:5%;
}
#adclass img {
	width: 50%;
	height: 50%;
}
#info{
	margin-left: 50%;
	background: green;
	width: 50%;
	height: 50%;
	margin-top: -43.5%;
	padding-bottom: 6.5%;
	text-align: center;
	color: white;
	padding-top: 20%;
	font-size: 200%;
}
  